/* Colors */
$pink1: #e002a5;
$pink2: #ffd5f4;
$pink3: #88286e;
$pink4: #f700b6;
$border: #7c6f76;
$border2: #433c40;
$border3: #a1a1a1;
$border4: #949092;
$font-color: #272627;
$blue-pp: #0072b5;
$blue-wm: #34568b;
$red-pm: #e9897e;
$purple-sk: #d46187;
$green-nt: #00a170;
$green-line: #00b900;

$demo: #e1a5d1;
$demo2: #36122c;
$demo3: #220a1b;
$demo4: #ad80a1;
$demo5: #8e0369;
